.brainFondo {
  position: absolute;
  top: 50%;
  left: 60%;
  margin: -40% 0 0 -40%;

  height: 70%;
  width: 70%;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
}
@media (min-width: 1400px) {
  .brainFondo {
    position: absolute;
    top: 49%;
    left: 60%;
    margin: -40% 0 0 -40%;

    height: 73%;
    width: 70%;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
  }
}

@media (max-width: 550px) {
  .brainFondo {
    position: absolute;
    top: 48%;
    left: 75.5%;
    margin: -40% 0 0 -40%;

    height: 76%;
    width: 21vh;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
  }
}

@media (max-width: 545px) {
  .brainFondo {
    position: absolute;
    top: 48%;
      left: 76.5%;
    margin: -40% 0 0 -40%;

    height: 76%;
    width: 21.5vh;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
  }
}


@media (max-width: 500px) {
  .brainFondo {
    position: absolute;
    top: 48%;
      left: 74.5%;
    margin: -40% 0 0 -40%;

    height: 76%;
    width: 21.5vh;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
  }
}

@media (max-width: 460px) {
  .brainFondo {
    position: absolute;
    top: 48%;
      left: 72.5%;
    margin: -40% 0 0 -40%;

    height: 76%;
    width: 21.5vh;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
  }
}

@media (max-width: 410px) {
  .brainFondo {
    position: absolute;
    top: 48%;
    left: 70.5%;
    margin: -40% 0 0 -40%;

    height: 76%;
    width: 21vh;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
  }
}


