

.radarLoader {
    position: absolute;
    
    border-radius: 50%;
    z-index: 1;
    background: transparent;
    border: 3px solid #f2f2f2;
    animation: radarLoader 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
   
}

@keyframes radarLoader {
  0% {
    opacity: 1;
  }
  70% {
      opacity:0;
  }
  100% {
    transform: scale(8);
    opacity:0;
  }
}

